/*Overall*/
html{
  background-color: white;
  color:black;
  font-family: system-ui, sans-serif;
  text-align: center;
  margin-left: 20%
      }

  h1{
  text-align:center;
  }

  p{
  color:black;
  }

/*Nav*/
a:link {text-decoration: none}
a:visited {text-decoration: none}

      nav{
        font-size: 15px;
        margin-top:0px;
          }
        nav a{
          color:white;
          display:block;
          }

      ul {
      list-style-type: none;
      margin:0;
      padding:0;
      color:white;
      display: block;
      background-color:rgb(89, 81, 58);
      align-content: center;
      position:fixed;
      left:0;
      top:0;
      bottom:0;
      width: 15%;
      opacity:.75;
      }

      .nav{
        text-align:center;

        display:block;
      }

      .nav:hover{
        color:white;
        background-color: rgb(41, 37, 28);
        display:block;
      }

      .nav a:hover{
        color:white;
        background-color: rgb(41, 37, 28);
        display:block;
      }

      .navlink{
        display:block;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        right:0;
        height:100%;
        padding-top: 15%;
        padding-bottom: 15%;
      }

/*Home page -- index.html styling*/
  .title{
    font-size: 800%;
    margin-top: 15%;
  }

  .homepage{
    color:white;
    background-image: url("/images/potentialback.jpg");
        /*source: me*/
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }


  .homepage p, .homepage h1{
    color:white;
  }

  #homepagep {
    background-color: rgba(0, 0, 0, 0.15);
    display: inline;
    padding:10px;
  }



/*Work page -- work.html styling*/
  #workpage{
    margin-right: 5%;
    background-image: url("file:///Users/hannahredding/Desktop/p1final-hir8/images/possbackground3.jpg");
    /*source:me*/
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding:10%;
    }

  #workpage p, #workpage h2{
    text-align: left;
    }

  #workpage h2 a:link{
    color:black
    }

  #workpage h2 a:hover:visited{
    color:rgba(88, 43, 54, 1)
    }

  #workpage h2 a:hover{
    color:rgba(88, 43, 54, 1)
    }

  #workpage h2 a:visited{
    color:black
    }

  .highlight{
    font-weight: bold;
    }

  .italicize{
    font-style: italic;
    font-weight: bold
    }


/*Education page -- education.html styling*/
  #edupage{
    margin-right: 5%;
    background-image: url("file:///Users/hannahredding/Desktop/p1final-hir8/images/possbackground3.jpg");
      /*source:me*/
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    margin-bottom: 100px}

  #edupage p, #edupage h2, #edupage h3{
    text-align: left;
    }

  #courses p{
    display: block;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0;
    float:left;
    padding: 10px;
    margin:2px;
    width:200px;
    height:50px;
    text-align: center;
    }

  #courses p:hover{
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    float:left;
    padding: 10px;
    margin:2px;
    width:200px;
    height:50px;
    text-align: center;
    }

  #map{
    width: 90%;
    border: rgba(255, 255, 255, 0.1) solid 25px;
    }

/*Bio page -- bio.html styling*/
  #biopage p {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    }

  .biolinks{
    color:black;
    font-style: italic}

  .biolinks:hover{
    color:black;
    text-decoration: underline;
    }

  #biopage{
    margin-right: 5%;
    background-image: url("file:///Users/hannahredding/Desktop/p1final-hir8/images/possbackground5.jpg");
      /*source:me*/
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding: 10%;
    }

  #biophoto{
    width: 5%;
    opacity:0.25;
    border:white 10px solid;
    }

  #biophoto:hover{
    width: 60%;
    opacity:1;
    border:white 10px solid;
    }

/*Leadership page -- leadership.html styling*/
  #leadpage p, #leadpage h2, #leadpage h3{
    text-align: left;
    max-width: 80%;
    }

  #leadpage{
    margin-right: 5%;
    background-image: url("file:///Users/hannahredding/Desktop/p1final-hir8/images/possbackground3.jpg");
      /*source:me*/
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding: 10%;
    }


/*Skills page*/

  #skillspage{
    background-image: url("file:///Users/hannahredding/Desktop/p1final-hir8/images/potentialback2.jpg");
      /*source: me*/
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding: 10%;
    }

/*contact page*/

  #contactpage{
    background-image: url("file:///Users/hannahredding/Desktop/p1final-hir8/images/possback1.jpg");
      /*source: me*/
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding:10%;
    }
